.container {
    max-width: 1180px;
    width: 94%;
    margin: 0 auto;

    &.small {
        max-width: 1050px;
        padding: 0 50px;
        @include at(phablet) {
            padding: 0 20px;
        }
    }
}

.faded,
.hero-faded {
    opacity: 0;

    &.descend {
        top: -15px;
    }

    &.left {
        left: -15px;
    }

    &.right {
        right: -15px;
    }
}

.descend {
    top: 0px;
}

.left {
    left: 0px;
}

.right {
    right: 0px;
}

#hero-section {
    .hero-faded.descend {
        top: -15px;
    }
}
