//░░░░░░░░░░░░░░░░░░░░░░░░
//
//   DIRECTORY
//
//   _Defaults
//   _Shades
//
//░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Defaults
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

$white: #FFFFFF;
$black: #231F20;
$gray: #999999;
$background: #F7F7F7;
$blue: #1e74d4;
$red: #e62d2d;
$teal: #00bfb8;
$green: #59d044;

// Social Media
$facebook: #4267b2;
$twitter: #1da1f2;
$linkedin: #0084bf;
$spotify: #80B633;

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Shades
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

// ════ⓤⓢⓔ════
// color:shade(gray,light);

$shader:(
	gray:(
		dark:#58595B,
        medium:#959595,
		light:#B3B3B3,
		lightest:#EAEAEA,
	),
	blue:(
		dark:#004F7F
	)
);
